# === Entornos Virtuales ===
venv/
.venv/
env/
ENV/
pyvenv.cfg
include/
lib/
share/

# === Base de Datos Local (SQLite) ===
*.db
*.sqlite
*.sqlite3

# === Caché de Python (Crucial para evitar basura en los commits) ===
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# === Configuraciones del Editor (VS Code / Cursor / PyCharm) ===
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# === Archivos del Sistema Operativo ===
.DS_Store
Thumbs.db